> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [170]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [171]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df = pd.read_csv('tmdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [14]:
df.describe([0.01,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,10%,25%,50%,75%,90%,99%,max
id,10866.0,6.606418e+04,9.213014e+04,5.000000,204.300000,3362.500000,10596.250000,20669.000000,7.561000e+04,2.422670e+05,3.475298e+05,4.178590e+05
popularity,10866.0,6.464410e-01,1.000185e+00,0.000065,0.011754,0.105708,0.207583,0.383856,7.138170e-01,1.350653e+00,4.581144e+00,3.298576e+01
budget,10866.0,1.462570e+07,3.091321e+07,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000e+07,4.600000e+07,1.500000e+08,4.250000e+08
revenue,10866.0,3.982332e+07,1.170035e+08,0.000000,0.000000,0.000000,0.000000,0.000000,2.400000e+07,1.129462e+08,5.872457e+08,2.781506e+09
runtime,10866.0,1.020709e+02,3.138141e+01,0.000000,7.000000,83.000000,90.000000,99.000000,1.110000e+02,1.270000e+02,1.840000e+02,9.000000e+02
vote_count,10866.0,2.173897e+02,5.756191e+02,10.000000,10.000000,12.000000,17.000000,38.000000,1.457500e+02,5.080000e+02,3.018500e+03,9.767000e+03
vote_average,10866.0,5.974922e+00,9.351418e-01,1.500000,3.400000,4.800000,5.400000,6.000000,6.600000e+00,7.100000e+00,7.900000e+00,9.200000e+00
release_year,10866.0,2.001323e+03,1.281294e+01,1960.000000,1963.000000,1982.000000,1995.000000,2006.000000,2.011000e+03,2.014000e+03,2.015000e+03,2.015000e+03
budget_adj,10866.0,1.755104e+07,3.430616e+07,0.000000,0.000000,0.000000,0.000000,0.000000,2.085325e+07,5.811259e+07,1.623004e+08,4.250000e+08
revenue_adj,10866.0,5.136436e+07,1.446325e+08,0.000000,0.000000,0.000000,0.000000,0.000000,3.369710e+07,1.483823e+08,6.987106e+08,2.827124e+09

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning

>These columns has missing data: **imdb_id**, **cast**, **homepage**, **director**, **tagline**, **keywords**, **overview**, **genres**, **production_companies**. Among these columns, homepage has the most missing data, So I discard this column.

>The column **genres** will be discussed in the following parts, so rows with missing values are dropped.

In [173]:
df.drop(columns=['homepage'], inplace=True)
df.dropna(subset=['genres'], inplace=True)

>To discuss the popular genre trending, columns **genres**, **release_year** are selected to form a new dataframe called **pop**.

In [174]:
pop = df[['genres','release_year']]
pop.head()

                                      genres  release_year
0  Action|Adventure|Science Fiction|Thriller          2015
1  Action|Adventure|Science Fiction|Thriller          2015
2         Adventure|Science Fiction|Thriller          2015
3   Action|Adventure|Science Fiction|Fantasy          2015
4                      Action|Crime|Thriller          2015

>**genres** has multiple descriptions, so I utilize `apply` to split genres and save them as lists in column **genres_list**.

In [88]:
pop['genres_list'] = pop.groupby(by='release_year')['genres'].apply(lambda x: x.str.split('|'))

In [89]:
pop.head()

,popularity,genres,release_year,genres_list
0,32.985763,Action|Adventure|Science Fiction|Thriller,2015,"[Action, Adventure, Science Fiction, Thriller]"
1,28.419936,Action|Adventure|Science Fiction|Thriller,2015,"[Action, Adventure, Science Fiction, Thriller]"
2,13.112507,Adventure|Science Fiction|Thriller,2015,"[Adventure, Science Fiction, Thriller]"
3,11.173104,Action|Adventure|Science Fiction|Fantasy,2015,"[Action, Adventure, Science Fiction, Fantasy]"
4,9.335014,Action|Crime|Thriller,2015,"[Action, Crime, Thriller]"

In [165]:
#获得每年最流行的
time_max_genres = {}
yearly_summary = {}
years = set(pop['release_year'].values)
for year in years:
    yearly_movie = pop[pop['release_year']==year]
    yearly_genre = {}
    for each in yearly_movie['genres_list']:
        for gen in range(len(each)):
            if each[gen] not in yearly_genre:
                yearly_genre[each[gen]] = 1
            else:
                yearly_genre[each[gen]] += 1
    yearly_summary[str(year)] = yearly_genre
    time_max_genres[str(year)] = sorted(yearly_genre.items(), key = lambda item: item[1], reverse=True)[0]

In [168]:
yearly_summary

{'1960': {'Drama': 13,
  'Horror': 7,
  'Thriller': 6,
  'Action': 8,
  'Adventure': 5,
  'Western': 6,
  'History': 5,
  'Comedy': 8,
  'Romance': 6,
  'Fantasy': 2,
  'Science Fiction': 3,
  'Family': 3,
  'Music': 1,
  'Crime': 2,
  'Foreign': 1,
  'War': 2},
 '1961': {'Adventure': 6,
  'Animation': 1,
  'Comedy': 10,
  'Family': 5,
  'Drama': 16,
  'Romance': 7,
  'Music': 2,
  'Crime': 2,
  'Action': 7,
  'War': 2,
  'Mystery': 1,
  'History': 3,
  'Western': 3,
  'Horror': 3,
  'Science Fiction': 4,
  'Fantasy': 2,
  'Foreign': 1},
 '1962': {'Adventure': 7,
  'Action': 8,
  'Thriller': 7,
  'Drama': 21,
  'History': 4,
  'War': 3,
  'Romance': 5,
  'Crime': 3,
  'Mystery': 4,
  'Comedy': 5,
  'Western': 3,
  'Music': 1,
  'Family': 2,
  'Horror': 5,
  'Fantasy': 1,
  'Foreign': 1,
  'Science Fiction': 2},
 '1963': {'Action': 4,
  'Thriller': 10,
  'Adventure': 7,
  'Animation': 1,
  'Family': 3,
  'Horror': 9,
  'Comedy': 13,
  'Mystery': 6,
  'Romance': 8,
  'Drama': 13,
  'History': 4,
  'Crime': 4,
  'War': 1,
  'Foreign': 2,
  'Science Fiction': 2,
  'Western': 2,
  'Fantasy': 2},
 '1964': {'Adventure': 5,
  'Action': 5,
  'Thriller': 9,
  'Drama': 20,
  'Comedy': 16,
  'War': 3,
  'Music': 5,
  'Family': 4,
  'Fantasy': 4,
  'Animation': 2,
  'Crime': 10,
  'Mystery': 4,
  'Romance': 9,
  'Horror': 6,
  'Science Fiction': 4,
  'History': 3,
  'Foreign': 1,
  'Western': 1},
 '1965': {'Adventure': 6,
  'Action': 9,
  'Thriller': 11,
  'Drama': 20,
  'Family': 3,
  'Music': 2,
  'Romance': 5,
  'War': 8,
  'Comedy': 7,
  'Animation': 1,
  'TV Movie': 1,
  'Crime': 2,
  'Mystery': 3,
  'Horror': 5,
  'Western': 4,
  'History': 4,
  'Science Fiction': 2,
  'Foreign': 1},
 '1966': {'Animation': 3,
  'Family': 7,
  'Comedy': 16,
  'Drama': 16,
  'Science Fiction': 6,
  'Action': 14,
  'Adventure': 11,
  'Fantasy': 2,
  'Mystery': 6,
  'Thriller': 8,
  'History': 2,
  'Crime': 5,
  'Western': 7,
  'Foreign': 2,
  'Romance': 6,
  'War': 4,
  'Horror': 3,
  'Documentary': 1},
 '1967': {'Family': 3,
  'Animation': 2,
  'Adventure': 7,
  'Comedy': 17,
  'Drama': 16,
  'Romance': 11,
  'Action': 7,
  'Thriller': 5,
  'Crime': 7,
  'Horror': 4,
  'War': 1,
  'Mystery': 3,
  'Science Fiction': 4,
  'Fantasy': 3,
  'Music': 5,
  'Western': 2,
  'Documentary': 1},
 '1968': {'Science Fiction': 4,
  'Mystery': 4,
  'Adventure': 5,
  'Horror': 4,
  'Crime': 5,
  'Drama': 20,
  'Thriller': 5,
  'Action': 6,
  'Comedy': 9,
  'Family': 5,
  'Fantasy': 5,
  'History': 3,
  'Animation': 3,
  'Music': 3,
  'Western': 1,
  'War': 4,
  'Romance': 6},
 '1969': {'Adventure': 5,
  'Action': 10,
  'Thriller': 3,
  'History': 3,
  'Drama': 13,
  'Western': 7,
  'Crime': 3,
  'Comedy': 12,
  'War': 3,
  'Mystery': 1,
  'Family': 4,
  'Animation': 3,
  'TV Movie': 1,
  'Music': 2,
  'Romance': 4,
  'Fantasy': 2,
  'Science Fiction': 3,
  'Horror': 1},
 '1970': {'Animation': 2,
  'Comedy': 12,
  'Family': 3,
  'Adventure': 6,
  'Science Fiction': 3,
  'Mystery': 3,
  'Drama': 19,
  'War': 5,
  'Action': 11,
  'Horror': 5,
  'History': 3,
  'Romance': 6,
  'Thriller': 5,
  'Western': 8,
  'Crime': 4,
  'TV Movie': 1,
  'Fantasy': 3,
  'Music': 4,
  'Documentary': 3,
  'Foreign': 1},
 '1971': {'Science Fiction': 6,
  'Drama': 30,
  'Family': 2,
  'Fantasy': 2,
  'Adventure': 5,
  'Action': 11,
  'Thriller': 17,
  'Comedy': 9,
  'Romance': 9,
  'Crime': 10,
  'Mystery': 6,
  'Animation': 1,
  'Western': 5,
  'Horror': 7,
  'War': 4,
  'History': 3,
  'Music': 1,
  'TV Movie': 1},
 '1972': {'Drama': 16,
  'Crime': 7,
  'Adventure': 5,
  'Thriller': 10,
  'Action': 10,
  'Science Fiction': 4,
  'Music': 2,
  'Romance': 5,
  'Mystery': 4,
  'Western': 5,
  'Comedy': 13,
  'Fantasy': 1,
  'Horror': 8,
  'Family': 2,
  'Documentary': 1,
  'Animation': 1},
 '1973': {'Animation': 3,
  'Family': 4,
  'Drama': 31,
  'Horror': 15,
  'Thriller': 16,
  'Adventure': 5,
  'Action': 15,
  'Crime': 17,
  'Science Fiction': 6,
  'Comedy': 8,
  'Western': 4,
  'Romance': 3,
  'Mystery': 7,
  'History': 2,
  'Music': 1,
  'Fantasy': 1,
  'Documentary': 1,
  'TV Movie': 1},
 '1974': {'Drama': 21,
  'Crime': 15,
  'Mystery': 5,
  'Thriller': 20,
  'Adventure': 8,
  'Action': 14,
  'Comedy': 12,
  'Science Fiction': 5,
  'Horror': 8,
  'Romance': 4,
  'Family': 4,
  'Fantasy': 3,
  'Western': 2,
  'Music': 1,
  'Animation': 1,
  'Documentary': 2,
  'History': 1,
  'TV Movie': 1,
  'War': 1},
 '1975': {'Drama': 17,
  'Horror': 8,
  'Thriller': 13,
  'Adventure': 8,
  'Comedy': 12,
  'Fantasy': 4,
  'Music': 3,
  'Science Fiction': 11,
  'Romance': 2,
  'War': 2,
  'Action': 10,
  'Mystery': 8,
  'History': 3,
  'Family': 2,
  'Crime': 6,
  'Western': 3,
  'Documentary': 1,
  'Animation': 1},
 '1976': {'Crime': 8,
  'Drama': 22,
  'Horror': 9,
  'Thriller': 17,
  'Adventure': 6,
  'Action': 13,
  'Romance': 5,
  'Science Fiction': 5,
  'History': 2,
  'Mystery': 7,
  'Comedy': 12,
  'Western': 3,
  'War': 2,
  'Fantasy': 2,
  'Family': 3,
  'TV Movie': 1,
  'Music': 3,
  'Documentary': 1,
  'Foreign': 1},
 '1977': {'Adventure': 15,
  'Action': 14,
  'Science Fiction': 11,
  'Thriller': 12,
  'Fantasy': 9,
  'Family': 8,
  'Animation': 5,
  'Comedy': 11,
  'Drama': 24,
  'Romance': 4,
  'History': 4,
  'War': 4,
  'Music': 3,
  'Documentary': 1,
  'Crime': 2,
  'Horror': 14,
  'Mystery': 5,
  'Western': 1},
 '1978': {'Music': 3,
  'Horror': 19,
  'Thriller': 22,
  'Adventure': 11,
  'Fantasy': 5,
  'Action': 15,
  'Science Fiction': 16,
  'Comedy': 14,
  'Crime': 6,
  'Family': 6,
  'Drama': 29,
  'War': 4,
  'Romance': 5,
  'TV Movie': 3,
  'History': 2,
  'Animation': 2,
  'Mystery': 7,
  'Documentary': 3,
  'Western': 1,
  'Foreign': 1},
 '1979': {'Horror': 11,
  'Action': 8,
  'Thriller': 16,
  'Science Fiction': 10,
  'Drama': 30,
  'War': 3,
  'Adventure': 8,
  'Mystery': 4,
  'Comedy': 19,
  'Crime': 8,
  'History': 3,
  'Romance': 8,
  'Music': 4,
  'Family': 5,
  'Western': 4,
  'Animation': 1},
 '1980': {'Adventure': 14,
  'Action': 27,
  'Science Fiction': 11,
  'Horror': 16,
  'Thriller': 25,
  'Comedy': 25,
  'Romance': 9,
  'Music': 4,
  'Crime': 9,
  'Drama': 32,
  'Fantasy': 7,
  'History': 5,
  'TV Movie': 1,
  'Family': 4,
  'Mystery': 9,
  'Western': 5,
  'Foreign': 2,
  'War': 2},
 '1981': {'Adventure': 14,
  'Action': 17,
  'Romance': 10,
  'Comedy': 20,
  'Thriller': 27,
  'Animation': 3,
  'Drama': 32,
  'Family': 5,
  'Science Fiction': 10,
  'Horror': 24,
  'History': 5,
  'War': 2,
  'Crime': 10,
  'Mystery': 10,
  'Fantasy': 3,
  'Music': 3,
  'TV Movie': 1,
  'Documentary': 2},
 '1982': {'Science Fiction': 13,
  'Drama': 33,
  'Thriller': 17,
  'Adventure': 10,
  'Family': 8,
  'Fantasy': 13,
  'Horror': 20,
  'Mystery': 10,
  'Action': 17,
  'War': 2,
  'Comedy': 28,
  'Crime': 9,
  'Music': 6,
  'History': 2,
  'Romance': 12,
  'Animation': 6,
  'Documentary': 1,
  'Western': 2,
  'Foreign': 2,
  'TV Movie': 1},
 '1983': {'Adventure': 14,
  'Action': 21,
  'Science Fiction': 16,
  'Crime': 11,
  'Drama': 35,
  'Thriller': 24,
  'Comedy': 28,
  'Family': 4,
  'Fantasy': 10,
  'Romance': 14,
  'Horror': 13,
  'History': 1,
  'Animation': 3,
  'Mystery': 5,
  'War': 1,
  'Music': 5,
  'Western': 1,
  'Foreign': 1,
  'TV Movie': 1},
 '1984': {'Action': 33,
  'Thriller': 24,
  'Science Fiction': 27,
  'Adventure': 22,
  'Fantasy': 15,
  'Comedy': 38,
  'Family': 9,
  'Horror': 18,
  'Drama': 40,
  'Crime': 15,
  'History': 5,
  'Music': 11,
  'Romance': 19,
  'Animation': 1,
  'Mystery': 4,
  'War': 3,
  'TV Movie': 1,
  'Documentary': 2},
 '1985': {'Adventure': 28,
  'Comedy': 51,
  'Science Fiction': 17,
  'Family': 12,
  'Drama': 40,
  'Fantasy': 14,
  'Action': 28,
  'Thriller': 24,
  'Romance': 21,
  'Horror': 14,
  'War': 2,
  'Animation': 2,
  'Crime': 14,
  'Mystery': 3,
  'Western': 3,
  'Music': 2,
  'Documentary': 1,
  'History': 1},
 '1986': {'Horror': 30,
  'Action': 30,
  'Thriller': 23,
  'Science Fiction': 21,
  'Adventure': 17,
  'Fantasy': 11,
  'Drama': 51,
  'War': 4,
  'Romance': 25,
  'Comedy': 49,
  'Crime': 18,
  'Family': 13,
  'Animation': 7,
  'Mystery': 7,
  'Western': 1,
  'Music': 6,
  'History': 3},
 '1987': {'Science Fiction': 18,
  'Action': 29,
  'Adventure': 17,
  'Thriller': 28,
  'Drama': 52,
  'War': 6,
  'Music': 4,
  'Romance': 24,
  'Comedy': 57,
  'Horror': 25,
  'Fantasy': 18,
  'Crime': 21,
  'Family': 16,
  'History': 3,
  'Mystery': 7,
  'TV Movie': 2,
  'Animation': 4,
  'Western': 1},
 '1988': {'Action': 32,
  'Thriller': 33,
  'Fantasy': 16,
  'Drama': 54,
  'Comedy': 69,
  'Romance': 19,
  'Family': 17,
  'Crime': 21,
  'Adventure': 15,
  'War': 6,
  'Animation': 7,
  'Horror': 36,
  'Science Fiction': 18,
  'Mystery': 9,
  'Music': 8,
  'Documentary': 5,
  'TV Movie': 2,
  'History': 4,
  'Foreign': 1},
 '1989': {'Animation': 5,
  'Family': 17,
  'Adventure': 24,
  'Action': 38,
  'Comedy': 63,
  'Romance': 22,
  'Drama': 54,
  'Fantasy': 16,
  'Science Fiction': 21,
  'Thriller': 35,
  'War': 4,
  'Crime': 25,
  'Horror': 25,
  'History': 4,
  'Mystery': 8,
  'Foreign': 2,
  'Music': 3,
  'Documentary': 2,
  'Western': 1},
 '1990': {'Action': 39,
  'Adventure': 23,
  'Science Fiction': 18,
  'Drama': 60,
  'Crime': 30,
  'Thriller': 46,
  'Comedy': 48,
  'Family': 12,
  'Fantasy': 13,
  'Romance': 19,
  'Western': 3,
  'Mystery': 14,
  'Horror': 26,
  'Animation': 4,
  'War': 2,
  'Music': 2,
  'Foreign': 1,
  'History': 4,
  'TV Movie': 1,
  'Documentary': 1},
 '1991': {'Romance': 26,
  'Family': 21,
  'Animation': 3,
  'Fantasy': 19,
  'Music': 7,
  'Action': 39,
  'Thriller': 37,
  'Science Fiction': 13,
  'Adventure': 21,
  'Comedy': 60,
  'Drama': 63,
  'Crime': 20,
  'Mystery': 9,
  'Horror': 13,
  'History': 1,
  'Western': 2,
  'War': 2,
  'Foreign': 3,
  'Documentary': 3},
 '1992': {'Crime': 25,
  'Thriller': 45,
  'Animation': 4,
  'Family': 16,
  'Comedy': 54,
  'Adventure': 17,
  'Fantasy': 14,
  'Action': 34,
  'Science Fiction': 16,
  'Horror': 16,
  'Romance': 31,
  'Drama': 65,
  'Mystery': 10,
  'Western': 2,
  'Music': 6,
  'History': 4,
  'War': 1,
  'Documentary': 1,
  'Foreign': 3},
 '1993': {'Romance': 34,
  'Fantasy': 13,
  'Drama': 90,
  'Comedy': 72,
  'Animation': 6,
  'Family': 29,
  'History': 8,
  'War': 6,
  'Adventure': 26,
  'Science Fiction': 18,
  'Action': 53,
  'Thriller': 45,
  'Crime': 28,
  'Mystery': 15,
  'Western': 3,
  'Music': 6,
  'Horror': 18,
  'Foreign': 5,
  'Documentary': 1},
 '1994': {'Thriller': 45,
  'Crime': 26,
  'Drama': 83,
  'Comedy': 88,
  'Romance': 35,
  'Family': 35,
  'Animation': 8,
  'Action': 61,
  'Adventure': 33,
  'Horror': 13,
  'Fantasy': 24,
  'Western': 8,
  'Science Fiction': 20,
  'War': 3,
  'Mystery': 10,
  'Music': 3,
  'History': 3,
  'Foreign': 3,
  'Documentary': 2,
  'TV Movie': 5},
 '1995': {'Crime': 31,
  'Mystery': 14,
  'Thriller': 49,
  'Animation': 7,
  'Comedy': 63,
  'Family': 33,
  'Drama': 93,
  'Action': 47,
  'History': 7,
  'War': 5,
  'Adventure': 32,
  'Fantasy': 17,
  'Science Fiction': 18,
  'Horror': 19,
  'Romance': 37,
  'Western': 3,
  'TV Movie': 1,
  'Foreign': 2,
  'Documentary': 2},
 '1996': {'Action': 42,
  'Adventure': 30,
  'Science Fiction': 24,
  'Thriller': 61,
  'Drama': 104,
  'Crime': 19,
  'Comedy': 91,
  'Fantasy': 22,
  'Romance': 44,
  'Family': 31,
  'Animation': 8,
  'Mystery': 13,
  'Horror': 17,
  'War': 3,
  'History': 5,
  'Music': 4,
  'Documentary': 3,
  'TV Movie': 2,
  'Foreign': 2},
 '1997': {'Comedy': 77,
  'Drama': 83,
  'Romance': 32,
  'Thriller': 61,
  'Animation': 10,
  'Family': 33,
  'Fantasy': 21,
  'Adventure': 35,
  'Action': 59,
  'Science Fiction': 29,
  'Mystery': 21,
  'Crime': 28,
  'Horror': 18,
  'History': 7,
  'War': 1,
  'Music': 4,
  'Documentary': 2,
  'TV Movie': 1,
  'Foreign': 3},
 '1998': {'Comedy': 84,
  'Drama': 108,
  'Action': 43,
  'Thriller': 53,
  'Science Fiction': 26,
  'Adventure': 38,
  'Animation': 16,
  'Family': 34,
  'Horror': 23,
  'Crime': 34,
  'History': 7,
  'War': 3,
  'Music': 12,
  'Mystery': 18,
  'Romance': 41,
  'Fantasy': 22,
  'Western': 1,
  'TV Movie': 3,
  'Foreign': 4,
  'Documentary': 3},
 '1999': {'Drama': 113,
  'Action': 38,
  'Science Fiction': 29,
  'Adventure': 20,
  'Fantasy': 23,
  'Horror': 26,
  'Thriller': 53,
  'Crime': 29,
  'Mystery': 24,
  'Romance': 42,
  'Animation': 13,
  'Family': 29,
  'Comedy': 100,
  'Music': 5,
  'History': 7,
  'Western': 3,
  'TV Movie': 6,
  'Foreign': 6,
  'Documentary': 5,
  'War': 3},
 '2000': {'Action': 47,
  'Drama': 101,
  'Adventure': 28,
  'Mystery': 14,
  'Thriller': 63,
  'Family': 34,
  'Comedy': 97,
  'Fantasy': 21,
  'Crime': 31,
  'Romance': 47,
  'Animation': 27,
  'History': 4,
  'War': 5,
  'Horror': 21,
  'Music': 10,
  'Science Fiction': 24,
  'Western': 2,
  'Foreign': 4,
  'Documentary': 3,
  'TV Movie': 1},
 '2001': {'Adventure': 40,
  'Fantasy': 25,
  'Action': 61,
  'Family': 31,
  'Thriller': 66,
  'Drama': 100,
  'Mystery': 22,
  'Animation': 18,
  'Comedy': 101,
  'Science Fiction': 25,
  'Romance': 53,
  'Crime': 39,
  'History': 12,
  'War': 12,
  'Horror': 23,
  'Music': 6,
  'Documentary': 5,
  'Foreign': 4,
  'TV Movie': 10,
  'Western': 2},
 '2002': {'Adventure': 45,
  'Fantasy': 20,
  'Action': 72,
  'Family': 39,
  'Animation': 21,
  'Comedy': 104,
  'Drama': 130,
  'Mystery': 28,
  'Thriller': 84,
  'Horror': 30,
  'Science Fiction': 28,
  'Crime': 41,
  'War': 7,
  'Romance': 48,
  'History': 8,
  'Western': 1,
  'Documentary': 10,
  'Music': 4,
  'Foreign': 11,
  'TV Movie': 3},
 '2003': {'Adventure': 41,
  'Fantasy': 27,
  'Action': 73,
  'Thriller': 73,
  'Crime': 46,
  'Science Fiction': 41,
  'Animation': 29,
  'Family': 44,
  'Comedy': 111,
  'Romance': 49,
  'Drama': 110,
  'Music': 11,
  'War': 8,
  'History': 9,
  'Horror': 24,
  'Mystery': 19,
  'Western': 4,
  'Documentary': 11,
  'TV Movie': 3,
  'Foreign': 5},
 '2004': {'Adventure': 49,
  'Fantasy': 19,
  'Family': 40,
  'Action': 75,
  'Crime': 32,
  'Thriller': 74,
  'Comedy': 125,
  'Romance': 63,
  'Science Fiction': 34,
  'Drama': 141,
  'Animation': 23,
  'War': 8,
  'Mystery': 27,
  'Horror': 29,
  'History': 7,
  'Music': 13,
  'Western': 7,
  'Documentary': 12,
  'TV Movie': 6,
  'Foreign': 7},
 '2005': {'Adventure': 53,
  'Fantasy': 35,
  'Family': 57,
  'Action': 70,
  'Crime': 45,
  'Drama': 182,
  'Thriller': 92,
  'Comedy': 143,
  'Science Fiction': 25,
  'Animation': 26,
  'Horror': 56,
  'Romance': 62,
  'History': 10,
  'War': 5,
  'Western': 2,
  'Music': 13,
  'Mystery': 29,
  'Documentary': 17,
  'TV Movie': 3,
  'Foreign': 10},
 '2006': {'Fantasy': 34,
  'Action': 80,
  'Science Fiction': 30,
  'Thriller': 114,
  'Adventure': 55,
  'Animation': 39,
  'Comedy': 155,
  'Family': 65,
  'Mystery': 30,
  'Music': 12,
  'Drama': 197,
  'Romance': 70,
  'Crime': 53,
  'Horror': 56,
  'TV Movie': 8,
  'History': 12,
  'War': 7,
  'Documentary': 16,
  'Foreign': 10,
  'Western': 1},
 '2007': {'Adventure': 60,
  'Fantasy': 47,
  'Action': 95,
  'Family': 45,
  'Mystery': 34,
  'Animation': 32,
  'Comedy': 151,
  'Drama': 197,
  'Thriller': 125,
  'Crime': 65,
  'Horror': 79,
  'Science Fiction': 41,
  'Romance': 74,
  'War': 6,
  'Music': 15,
  'History': 13,
  'Western': 5,
  'Foreign': 17,
  'Documentary': 19,
  'TV Movie': 6},
 '2008': {'Drama': 233,
  'Action': 99,
  'Crime': 62,
  'Thriller': 127,
  'Animation': 33,
  'Family': 56,
  'Science Fiction': 52,
  'Adventure': 63,
  'Fantasy': 43,
  'Romance': 84,
  'Comedy': 169,
  'Mystery': 29,
  'History': 24,
  'War': 18,
  'Music': 20,
  'Horror': 76,
  'Western': 2,
  'TV Movie': 5,
  'Documentary': 26,
  'Foreign': 18},
 '2009': {'Action': 108,
  'Adventure': 72,
  'Fantasy': 49,
  'Science Fiction': 71,
  'Drama': 224,
  'Thriller': 157,
  'War': 12,
  'Family': 60,
  'Animation': 48,
  'Comedy': 198,
  'Romance': 83,
  'Mystery': 51,
  'Music': 17,
  'Horror': 90,
  'Crime': 52,
  'History': 16,
  'Documentary': 25,
  'Foreign': 17,
  'TV Movie': 8},
 '2010': {'Action': 108,
  'Thriller': 135,
  'Science Fiction': 46,
  'Mystery': 32,
  'Adventure': 59,
  'Family': 55,
  'Fantasy': 44,
  'Drama': 211,
  'Animation': 50,
  'Comedy': 169,
  'Crime': 51,
  'Romance': 85,
  'Western': 6,
  'War': 7,
  'Horror': 78,
  'History': 14,
  'Music': 10,
  'Documentary': 35,
  'TV Movie': 8,
  'Foreign': 13},
 '2011': {'Action': 115,
  'Animation': 46,
  'Horror': 78,
  'Adventure': 62,
  'Science Fiction': 56,
  'Drama': 214,
  'Thriller': 146,
  'Crime': 48,
  'Family': 72,
  'Fantasy': 46,
  'Mystery': 38,
  'Comedy': 172,
  'Romance': 75,
  'TV Movie': 10,
  'Western': 3,
  'War': 9,
  'Documentary': 49,
  'Music': 17,
  'History': 8,
  'Foreign': 14},
 '2012': {'Science Fiction': 54,
  'Action': 99,
  'Adventure': 50,
  'Fantasy': 34,
  'Horror': 104,
  'Crime': 54,
  'Drama': 232,
  'Thriller': 160,
  'Western': 4,
  'Mystery': 33,
  'Comedy': 176,
  'Romance': 79,
  'Animation': 40,
  'Family': 42,
  'Music': 22,
  'History': 13,
  'War': 10,
  'TV Movie': 14,
  'Documentary': 49,
  'Foreign': 6},
 '2013': {'Animation': 42,
  'Adventure': 67,
  'Family': 48,
  'Science Fiction': 61,
  'Thriller': 175,
  'Drama': 253,
  'Action': 121,
  'Fantasy': 39,
  'Crime': 71,
  'Comedy': 175,
  'Mystery': 38,
  'Romance': 65,
  'History': 14,
  'Horror': 102,
  'Music': 30,
  'War': 7,
  'Western': 3,
  'Documentary': 62,
  'TV Movie': 10},
 '2014': {'Adventure': 67,
  'Drama': 284,
  'Science Fiction': 62,
  'Action': 129,
  'Thriller': 179,
  'Fantasy': 36,
  'Family': 43,
  'Animation': 36,
  'Comedy': 185,
  'History': 15,
  'War': 23,
  'Mystery': 36,
  'Crime': 65,
  'Music': 28,
  'Romance': 84,
  'Horror': 105,
  'Western': 6,
  'TV Movie': 14,
  'Documentary': 73},
 '2015': {'Action': 107,
  'Adventure': 69,
  'Science Fiction': 86,
  'Thriller': 171,
  'Fantasy': 33,
  'Crime': 51,
  'Western': 6,
  'Drama': 260,
  'Family': 44,
  'Animation': 39,
  'Comedy': 162,
  'Mystery': 42,
  'Romance': 57,
  'War': 9,
  'History': 15,
  'Music': 33,
  'Horror': 125,
  'Documentary': 57,
  'TV Movie': 20}}

In [166]:
time_max_genres

{'1960': ('Drama', 13),
 '1961': ('Drama', 16),
 '1962': ('Drama', 21),
 '1963': ('Comedy', 13),
 '1964': ('Drama', 20),
 '1965': ('Drama', 20),
 '1966': ('Comedy', 16),
 '1967': ('Comedy', 17),
 '1968': ('Drama', 20),
 '1969': ('Drama', 13),
 '1970': ('Drama', 19),
 '1971': ('Drama', 30),
 '1972': ('Drama', 16),
 '1973': ('Drama', 31),
 '1974': ('Drama', 21),
 '1975': ('Drama', 17),
 '1976': ('Drama', 22),
 '1977': ('Drama', 24),
 '1978': ('Drama', 29),
 '1979': ('Drama', 30),
 '1980': ('Drama', 32),
 '1981': ('Drama', 32),
 '1982': ('Drama', 33),
 '1983': ('Drama', 35),
 '1984': ('Drama', 40),
 '1985': ('Comedy', 51),
 '1986': ('Drama', 51),
 '1987': ('Comedy', 57),
 '1988': ('Comedy', 69),
 '1989': ('Comedy', 63),
 '1990': ('Drama', 60),
 '1991': ('Drama', 63),
 '1992': ('Drama', 65),
 '1993': ('Drama', 90),
 '1994': ('Comedy', 88),
 '1995': ('Drama', 93),
 '1996': ('Drama', 104),
 '1997': ('Drama', 83),
 '1998': ('Drama', 108),
 '1999': ('Drama', 113),
 '2000': ('Drama', 101),
 '2001': ('Comedy', 101),
 '2002': ('Drama', 130),
 '2003': ('Comedy', 111),
 '2004': ('Drama', 141),
 '2005': ('Drama', 182),
 '2006': ('Drama', 197),
 '2007': ('Drama', 197),
 '2008': ('Drama', 233),
 '2009': ('Drama', 224),
 '2010': ('Drama', 211),
 '2011': ('Drama', 214),
 '2012': ('Drama', 232),
 '2013': ('Drama', 253),
 '2014': ('Drama', 284),
 '2015': ('Drama', 260)}

In [64]:
df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1,2,3], 'C': [4,6, 5]})
df

   A  B  C
0  a  1  4
1  a  2  6
2  b  3  5

In [66]:
g1 = df.groupby('A')
g1.apply(lambda x: x/x.sum())

          B    C
0  0.333333  0.4
1  0.666667  0.6
2  1.000000  1.0

In [75]:
g1['B'].apply(lambda x: x/x.sum())

0    0.333333
1    0.666667
2    1.000000
Name: B, dtype: float64

In [69]:
df1 = pd.DataFrame({'A': 'a a b'.split(), 'B': ['s d','a b','c ff'], 'C': [4,6, 5]})
df1

   A     B  C
0  a   s d  4
1  a   a b  6
2  b  c ff  5

In [82]:
# df.groupby('A')['B'].str.split()#groupby不可用
df1['Bb'] = df1.groupby('A')['B'].apply(lambda x: x.str.split())

In [85]:
df1.loc[0,'Bb'][0]

's'

In [ ]:
pop.groupby(by='release_year').apply(['genres']

In [53]:
pop['release_year'].value_counts()

2014    699
2013    656
2015    627
2012    584
2011    540
2009    531
2008    495
2010    488
2007    438
2006    408
2005    363
2004    307
2003    281
2002    266
2001    241
2000    226
1999    224
1998    210
1996    203
1997    192
1994    184
1993    178
1995    174
1988    145
1989    136
1992    133
1991    133
1990    132
1987    125
1986    121
1985    109
1984    105
1981     82
1982     81
1983     80
1980     78
1978     65
1979     57
1977     57
1971     55
1973     55
1976     47
1974     46
1966     46
1975     44
1964     42
1970     40
1967     40
1972     40
1968     39
1965     35
1963     34
1962     32
1960     32
1969     31
1961     31
Name: release_year, dtype: int64

In [49]:
# genre_set = ()
# for each in pop['genres']:
a = set()
a.update(pop.iloc[0,1].split('|'))
a.update(pop.iloc[4,1].split('|'))
a

{'Action', 'Adventure', 'Crime', 'Science Fiction', 'Thriller'}

In [39]:
pop

       popularity                                     genres  release_year
0       32.985763  Action|Adventure|Science Fiction|Thriller          2015
1       28.419936  Action|Adventure|Science Fiction|Thriller          2015
2       13.112507         Adventure|Science Fiction|Thriller          2015
3       11.173104   Action|Adventure|Science Fiction|Fantasy          2015
4        9.335014                      Action|Crime|Thriller          2015
...           ...                                        ...           ...
10861    0.080598                                Documentary          1966
10862    0.065543                     Action|Adventure|Drama          1966
10863    0.065141                             Mystery|Comedy          1966
10864    0.064317                              Action|Comedy          1966
10865    0.035919                                     Horror          1966

[10843 rows x 3 columns]

To discuss popular genres,

In [30]:
(df['budget']==0).sum()

5674

In [31]:
(df['revenue']==0).sum()

5993

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 Which generes are most popular from year to year?

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  What kinds of properties are associated with movies that have high revenues?

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!